
<div class="container">
    <header>
        <h3 class="head">Order Summary</h3>
      </header>
      <hr>
      <main>
        <section class="order-summary">
          <table>
            <thead>
              <tr>
                <th>Item</th>
                <th>Price</th>
              </tr>
              <hr>
            </thead>
            <tbody>
              <tr>
                <td><p class="orderp"> Extra Bass Speaker With High Quality</p></td>
                <td><p class="orderc">$276.00</p></td>
              </tr>
              <tr>
                <td><p class="orderp"> 1x 18 Inch Laptop With NVME SSD</p></td>
                <td><p class="orderc">$576.00</p></td>
              </tr>
              <tr>
                <td><p class="orderp"> 1x Joystick Dual Pro XBB</p></td>
                <td><p class="orderc">$46.00</p></td>
              </tr>
           <tr></tr>
          <hr>
           <tr>
            <td><p class="orderp">Subtotal</p></td>
            <td><p class="orderc">$576.00</p></td>
          </tr>
          <tr>
            <td><p class="orderp">Shipping</p></td>
            <td><p class="orderc">$46.00</p></td>
          </tr>
         
          <tr>
            <td><p class="orderp">Total</p></td>
            <td><p class="orderc">$46.00</p></td>
          </tr>



            </tbody>
          </table>
         
        </section>
        <!-- <section class="payment-options">
          <h2>Payment</h2>
          <ul>
            <li>
              <label for="payment-credit-card">
                <input type="radio" id="payment-credit-card" name="payment-method">
                Credit Card
              </label>
            </li>
            <li>
              <label for="payment-bank-transfer">
                <input type="radio" id="payment-bank-transfer" name="payment-method">
                Bank Transfer
              </label>
            </li>
            <li>
              <label for="payment-paypal">
                <input type="radio" id="payment-paypal" name="payment-method">
                Paypal
              </label>
            </li>
          </ul>
        </section> -->
      </main>
      <footer>
        <button class="btn" routerLink="/orderplaced">Checkout</button>
        
      </footer>
  
  
</div>




    