<div class="container align-items-center justify-content-center">
  <form class="row rounded shadow border border-black w-75">
    <div class="col mt-3">
      <h3>Add Categories</h3>
    </div>
    <div class="row">
      <div class="col-auto">
        <label for="inputPassword5" class="form-label">Category Name</label>
        <input
          type="text"
          class="form-control shadow border border-dark"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      </div>
      <div class="row mt-3">
      <div class="col-auto">
          <label for="inputPassword5" class="form-label">Category Type</label>
           <input
            type="text"
            class="form-control shadow border border-dark"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          </div>
      </div>
      <!-- <div class="row">
      <div class="col-auto">
        <div class="input-group mt-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input form-control shadow border border-dark" id="inputGroupFile02">
  </div>
  <div class="input-group-append">
    <span class="input-group-text ms-2" id="">Upload</span>
  </div>
</div>
</div>
</div> -->
    <div class="row text-center align-items-center justify-content-center">
        <div class="col-7 mt-2">
            <button type="submit" class="btn btn-primary text-white w-25 mb-4">Add</button>
        </div>
    </div>
  </form>
</div>
