<!-- 


        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="row card mt-5">
                       <h3>login as</h3> <P>CHALZ</P> <button class="btn">change</button>
                       </div>
           
                       <div class="row card mt-3">
                         <h3>Delivery addresss </h3> 
                         <p>Shals nikon</p>
                         <p>Mookambika pankaj</p>
                         <p>Flat3c</p>
                          <button class="btn">change</button>
                          </div>
                 
                        
                </div>
                <div class="col-1"></div>
                <div class="col-5">
                    <app-ordersummary></app-ordersummary>

                </div>

            </div>
           
        </div>
 
 -->

 <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row card mt-5">
                <div class="col">
                    <h3>Login as</h3>
                    <p>CHALZ</p>
                    <button class="btn btn-primary btn-sm">Change</button>
                </div>
            </div>

            <div class="row card mt-3">
                <div class="col">
                    <h3>Delivery address</h3>
                    <p>Shals nikon</p>
                    <p>Mookambika pankaj</p>
                    <p>Flat3c</p>
                    <button class="btn btn-primary btn-sm">Change</button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <app-ordersummary></app-ordersummary>
        </div>
    </div>
</div>

