<div class="container-fluid">
    <!-- <div class="row mx-5 mt-5 w-100">
        <div class="col-auto col-md-3 col-xl-2 bg-white shadow-sm rounded-3">
            <div class="sidebar d-flex flex-column align-items-center align-items-sm-start px-3 pt-2">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                     <span class="fs-5 d-none d-sm-inline">Overview</span> -->
                    <!-- <img src="../../../assets/images/Ellipse 2.png" alt="" srcset="">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 fa fa-house"></i> <span class="ms-1 d-none d-sm-inline">&nbsp;Overview</span>
                        </a> -->
                    <!-- </li>
                    <li>    
                        <a href="" class="nav-link px-0 align-middle">
                            <i class="fs-4 fa fa-box"></i> <span class="ms-1 d-none d-sm-inline">&nbsp;Products</span> </a>
                        <ul class="collapse show nav flex-column ms-1" >
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <i class="fs-4 fa fa-group"></i> <span class="ms-1 d-none d-sm-inline">&nbsp;Add Store Manager</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <i class="fs-4 fa fa-car"></i>  <span class="ms-1 d-none d-sm-inline">&nbsp;Manage Orders</span></a>
                            </li> -->
                            <!-- <li> -->
                                <!-- <a href="#" class="nav-link px-0"> <i class="fs-4 fa fa-list"></i>  <span class="ms-1 d-none d-sm-inline">&nbsp;Manage Profile's</span></a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div> -->
        <!-- <div class="col py-3">
            Content area...
        </div> -->
    <!-- </div> --> 
<div class="sidebar card rounded-3 shadow m-3">
  <img class="card-img-top" src="../../../assets/images/Ellipse 2.png" alt="Card image cap">
  <h4 class="text-center">Andre Vekovic</h4>
  <div class="card-body">
    <ul class="">
        <li><i class="bi bi-border-style"></i>&nbsp; Overview</li>
        <li><i class="bi bi-bag"></i>&nbsp; Products</li>
        <li><i class="bi bi-person-plus"></i>&nbsp; Add Sore Manager</li>
        <li><i class="bi bi-car-front-fill"></i>&nbsp; Manage Orders</li>
        <li><i class="fa fa-box"></i>&nbsp; Manage Profile's</li>
    </ul>
  </div>
</div>
</div>