<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="table-responsive ">
                <table class="cs_cart_table shadow p-3 mb-5 bg-body rounded">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Subtotal</th>
                      <th></th>
                    </tr>
                  </thead>
                  <hr>
                  <tbody>
                    <tr>
                      <td>
                        <div class="cs_cart_table_media">
                          <img src="../../../assets/imgs/image 5.png" alt="Thumb" class="cartimg">
                          <h5 class="pname">Pure black cotton men T-shirt</h5>
                        </div>
                      </td>
                      <td>$205.00</td>
                      <td>
                        <div class="cs_quantity">
                          <button class="cs_quantity_btn cs_increment"><i class="fa-solid fa-angle-up"></i></button>
                          <span class="cs_quantity_input">1</span>
                          <button class="cs_quantity_btn cs_decrement"><i class="fa-solid fa-angle-down"></i></button>
                        </div>
                      </td>
                      <td>$205.00</td>
                      <td class="text-center">
                        <img src="../../../assets/imgs/delete.png" class="dltimg">
                        <img src="../../../assets/imgs/wishlist.png" class="dltimg">
                      </td>
                    </tr>
                    <hr class="line">
                    <tr>
                      <td>
                        <div class="cs_cart_table_media">
                          <img src="../../../assets/imgs/image 8.png" alt="Thumb" class="cartimg">
                          <h5 class="pname">Satin silk sleeping were</h5>
                        </div>
                      </td>
                      <td>$550.00</td>
                      <td>
                        <div class="cs_quantity">
                          <button class="cs_quantity_btn cs_increment"><i class="fa-solid fa-angle-up"></i></button>
                          <span class="cs_quantity_input">1</span>
                          <button class="cs_quantity_btn cs_decrement"><i class="fa-solid fa-angle-down"></i></button>
                        </div>
                      </td>
                      <td>$550.00</td>
                      <td class="text-center">
                       <img src="../../../assets/imgs/delete.png" class="dltimg">
                       <img src="../../../assets/imgs/wishlist.png" class="dltimg">
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        <div class="col-2"></div>
        
    <div class="row">
        <app-viewcategoryproduct></app-viewcategoryproduct>
    </div>