.heading{
    text-align: center;
    font-size: 40px;
    color: darkgreen;
}
.confirmationbox{
    width: 800px;
    height: 600px;
}
.imgsucc{
    width: 340px;
    height: 380px;
}
.tckimg{
    height: 90px;
    width: 90px;
}