@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}


h1{
    color: #e90e0e;
    font-size: 100px;
}
