* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    left: 0;
    
    
  }
  
  .navbar {
    padding: 1rem;
    background-color: #31508c;
  }
  
