<div class="container">
  <div class="row mt-3">
    <div class="row">
      <div class="col">
        <h2>Products</h2>
      </div>
      <div class="col">
        <button class="btn btn-primary" type="submit" routerLink="add-product">Add Product</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="row border border-dark rounded shadow">
        <div class="col mt-3">
          <div class="card bg-secondary text-center justify-content-center align-items-center" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../../assets/images/dress-shirt-img 1.png"
              alt="Card image cap"
              style="width: 90px"
            />
          </div>
        </div>
        <div class="col mt-3">
          <h5 class="card-title">Mens Shirt</h5>
          <p class="card-text"  style="color: #31508C;">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <button class="btn btn text-white mb-2">Edit</button>
        </div>
        <div class="col mt-3">
          <del>$900.00</del>
          <p  style="color: #31508C;">$822.9</p>
          <a href="#" class=""><i class="bi bi-trash3"></i></a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="row border border-dark rounded shadow">
        <div class="col mt-3">
               <div class="card bg-secondary text-center justify-content-center align-items-center" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../../assets/images/laptop-img 1.png"
              alt="Card image cap"
              style="width: 100px"
            />
          </div>
        </div>
        <div class="col mt-3">
                  <h5 class="card-title">Mens Shirt</h5>
          <p class="card-text"  style="color: #31508C;">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <button class="btn btn text-white mb-2">Edit</button>
        </div>
        <div class="col mt-3">
                <del>$900.00</del>
          <p  style="color: #31508C;">$822.9</p>
          <a href="#" class=""><i class="bi bi-trash3"></i></a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="row border border-dark rounded shadow">
        <div class="col mt-3">
                 <div class="card bg-secondary text-center justify-content-center align-items-center" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../../assets/images/dress-shirt-img 1.png"
              alt="Card image cap"
              style="width: 100px"
            />
          </div>
        </div>
        <div class="col mt-3">
                           <h5 class="card-title">Mens Shirt</h5>
          <p class="card-text"  style="color: #31508C;">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <button class="btn btn text-white mb-2">Edit</button>
        </div>
        <div class="col mt-3">
                <del>$900.00</del>
          <p  style="color: #31508C;">$822.9</p>
          <a href="#" class=""><i class="bi bi-trash3"></i></a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="row">
        <!-- <div class="col-4 gap-2">1</div>
        <div class="col-4">2</div>
        <div class="col-4">3</div> -->
        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
     <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
      </div>
    </div>
  </div>
</div>
