<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6 mt-5">
            <div class="container d-flex justify-content-center ">
                <div class="card text-center bg-white" style="width: 25rem;">
                  <div class="card-body">
                      <div class="row">
                        <div class="col-5"> <img src="../../../assets/imgs/jhumka-img 1.png" class="adimg"></div>
                          <div class="col-7"><h5 class="card-title text-black">New Year Sale</h5>
                            <p class="card-text text-black">Get an Extra 60% Off!</p>
                            <a href="#" class="btn ">Shop Now</a></div>
                    </div>
                 </div>
                </div>
              </div>
            </div>
         
          
            
            <div class="col-6 mt-5">
                <div class="container d-flex justify-content-center ">
                    <div class="card text-center bg-white" style="width: 25rem;">
                      <div class="card-body">
                          <div class="row">
                            <div class="col-5"> <img src="../../../assets/imgs/kangan-img.png" class="adimg"></div>
                              <div class="col-7"><h5 class="card-title text-black">New Year Sale</h5>
                                <p class="card-text text-black">Get an Extra 60% Off!</p>
                                <a href="#" class="btn ">Shop Now</a></div>
                        </div>
                     </div>
                    </div>
                  </div>
                </div>

    </div>
</div>
