<div class="container-fluid pt-5">
    <div class="row justify-content-center align-items-center mt-5 me-5">
        <div class="col-auto">
            <img src="../../assets/images/graphic.png" style="width: 400px">
        </div>
        <div class="col-auto ms-5">
            <p>That's an Error</p>
            <img src="../../assets/images/404.png" alt="">
        <p>The page you are looking for might have been removed <br> had it's name changed or is temporarily unavailable.</p>
        <button class="btn btn text-white" routerLink='' > GO TO HOMEPAGE</button>
        </div>
    </div>
</div>