<!-- <div class="container-fluid">
<h3 class="brand">Brands</h3>
<div class="container border 2px solid black" style="width:900px; height: 300px; overflow-y: auto;">
    <table class="table table-bordered table-hover  table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Brand Name</th>
                <th scope="col">Verified</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let brand of brands; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ brand.name }}</td>
              
                
                <td>
                    <button class="btn btn-danger m-1" *ngIf="!brand.checked" (click)="toggleVerified(brand)">Verify</button>
                    <button class="btn btn-success m-1" *ngIf="brand.checked" (click)="unsetVerified(brand)">Verified</button>
                </td>
                 
              

            </tr>
        </tbody>
    </table>
</div>
</div>
 -->


 <div class="container-fluid">
    <h3 class="brand">Brands</h3>
    <div class="container border 2px solid black" style="width: 100%; height: 300px; overflow-y: auto;">
        <table class="table table-responsive table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Verified</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let brand of brands; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ brand.name }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-danger m-1" *ngIf="!brand.checked" (click)="toggleVerified(brand)">Verify</button>
                            <button class="btn btn-success m-1" *ngIf="brand.checked" (click)="unsetVerified(brand)">Verified</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
