 <div class="container-fluid top"></div> 
  <nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">
    
    <img src="../assets/imgs/DcaRt.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="gd"></div>
      <form class="d-flex ml-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <img src="../assets/imgs/Chart.png">
      </ul>
   
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     <button>My accounts</button>
          </ul>
    </div>
  </div>
</nav>  
