<footer class="page-footer font-small mdb-color pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h1 class="point"><img src="../../../assets/images/DcaRt.png" alt=""></h1>
    
          <div class="mt-5">
            <i class="bi bi-twitter ms-3 text-white"></i>
            <i class="bi bi-instagram ms-3 text-white"></i>
            <i class="bi bi-threads ms-3 text-white"></i>
            <i class="bi bi-facebook ms-3 text-white"></i>
          </div>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="mb-4 font-weight-bold text-white">Company</h6>
        <p>
          <a href="#!" style="color: #ffffff">About</a>
        </p>
        <p class="point">
          <a href="#!" style="color: #ffffff">Products</a>
        </p>
        <p class="point">
          <a href="#!" style="color: #ffffff">Contact</a>
        </p>
        <p class="point">
          <a href="#!" style="color: #ffffff">Blog</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="mb-4 font-weight-bold text-white">Information</h6>
        <p>
          <a href="#!" style="color: #ffffff">Help Center</a>
        </p>
        <p>
          <a href="#!" style="color: #ffffff">Payment Methods</a>
        </p>
        <p>
          <a href="#!" style="color: #ffffff">Return & Refund</a>
        </p>
        <p>
          <a href="#!" style="color: #ffffff">Privacy Policy</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none" />

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="mb-4 font-weight-bold text-white">Contact</h6>
        <p class="point">
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US
        </p>
        <p class="point"><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
        <p class="point"><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p class="point"><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Footer links -->

    <hr />

    <!-- Grid row -->
    <div class="row d-flex align-items-center">
      <!-- Grid column -->
      <div class="col-md-7 col-lg-8"></div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <div class="footerbox">
    <p class="text-center text-md-left text-white">
      Copyright © 2024 All Right Reserved
    </p>
  </div>
</footer>