<div class="container ms-2">
    <h2>Products</h2>
    <div class="row mt-5">
        <div class="row border">
                <div class="col">
                    <img src="../../../assets/images/dress-shirt-img 1.png" alt="" srcset="">
                </div>
                <div class="col gx-0">
                    <p>Women's Fork</p>
                    <p>Brand: Nike</p>
                    <p>$33.3</p>
                </div>
                    <div class="col">
                    <img src="../../../assets/images/dress-shirt-img 1.png" alt="" srcset="">
                </div>
                <div class="col gx-0">
                    <p>Women's Fork</p>
                    <p>Brand: Nike</p>
                    <p>$33.3</p>
                </div>
        </div>
            <div class="row mt-3 border">
                <div class="col">
                    <img src="../../../assets/images/dress-shirt-img 1.png" alt="" srcset="">
                </div>
                <div class="col gx-0">
                    <p>Women's Fork</p>
                    <p>Brand: Nike</p>
                    <p>$33.3</p>
                </div>
                    <div class="col">
                    <img src="../../../assets/images/dress-shirt-img 1.png" alt="" srcset="">
                </div>
                <div class="col gx-0">
                    <p>Women's Fork</p>
                    <p>Brand: Nike</p>
                    <p>$33.3</p>
                </div>
        </div>
    </div>
</div>