<div class="container-fluid top">
  <div class="row ms-2">
    <div class="col-4">
      <p class="text-white"><i class="bi bi-telephone text-white"></i>&nbsp;+67 87879 898</p>
    </div>
    <div class="col-4">
      <p class="text-white"><i class="bi bi-envelope-fill text-white"></i>&nbsp;supportdcart.com</p>
    </div>
    <div class="col-4">
      <p class="text-white"><i class="bi bi-geo-alt-fill text-white"></i>&nbsp;Store Location</p>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <div class="gd"></div>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> -->
      <div class="row">
        <div class="col-6">
          <img src="../../../assets/images/DcaRt-h.png" />
        </div>
        <!-- <div class="col-6 ">
          <div class="input-group">
            <input
              class="form-control border-end-0 ms-5"
              type="search"
              placeholder="Best Gadgets"
              id="example-search-input"
            />
            <span class="input-group-append">
              <button
                class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                type="button"
              >
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</nav>
