<!-- 
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="table-responsive ">
                <table class="cs_cart_table shadow p-3 mb-5 bg-body rounded">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Subtotal</th>
                      <th></th>
                    </tr>
                  </thead>
                  <hr>
                  <tbody>
                    <tr>
                      <td>
                        <div class="cs_cart_table_media">
                          <img src="../../../assets/imgs/image 5.png" alt="Thumb" class="cartimg">
                          <h5 class="pname">Pure black cotton men T-shirt</h5>
                        </div>
                      </td>
                      <td>$205.00</td>
                      <td>
                        <div class="cs_quantity">
                          <button class="cs_quantity_btn cs_increment"><i class="fa-solid fa-angle-up"></i></button>
                          <span class="cs_quantity_input">1</span>
                          <button class="cs_quantity_btn cs_decrement"><i class="fa-solid fa-angle-down"></i></button>
                        </div>
                      </td>
                      <td>$205.00</td>
                      <td class="text-center">
                        <img src="../../../assets/imgs/delete.png" class="dltimg">
                   
                      </td>
                    </tr>
                    <hr class="line">
                    <tr>
                      <td>
                        <div class="cs_cart_table_media">
                          <img src="../../../assets/imgs/image 8.png" alt="Thumb" class="cartimg">
                          <h5 class="pname">Satin silk sleeping were</h5>
                        </div>
                      </td>
                      <td>$550.00</td>
                      <td>
                        <div class="cs_quantity">
                          <button class="cs_quantity_btn cs_increment"><i class="fa-solid fa-angle-up"></i></button>
                          <span class="cs_quantity_input">1</span>
                          <button class="cs_quantity_btn cs_decrement"><i class="fa-solid fa-angle-down"></i></button>
                        </div>
                      </td>
                      <td>$550.00</td>
                      <td class="text-center">
                       <img src="../../../assets/imgs/delete.png" class="dltimg">
                     
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        <div class="col-xl-4">
            <div class="cs_shop-side-spacing ">
              <div class="cs_shop-card shadow p-3 mb-5 bg-body rounded">
                
                <div class="cs_height_30 cs_height_lg_30"></div>
                <h2 class="cs_fs_21 cs_medium">Summary</h2>
                <hr>
                <table class="cs_medium">
                  <tbody>
              
                  
                    <tr>
                      <td ><h2 class="textt">Total</h2></td>
                      <td><h6 class="textt">$605.00</h6></td> 
                    </tr>
                  </tbody>
                </table>
                <div class="cs_height_30 cs_height_lg_30"></div>
               <button class="btncheck" routerLink="/producthome">Proceed</button>
              </div>
              <div class="cs_height_30 cs_height_lg_30"></div>
            </div>
          </div>
        </div>     
    </div>
    <div class="row">
        <app-viewcategoryproduct></app-viewcategoryproduct>
    </div> -->

    <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="table-responsive">
                  <table class="cs_cart_table shadow p-3 mb-5 bg-body rounded">
                      <thead>
                          <tr>
                              <th>Product</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Subtotal</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <div class="cs_cart_table_media">
                                      <img src="../../../assets/imgs/image 5.png" alt="Thumb" class="cartimg">
                                      <h5 class="pname">Pure black cotton men T-shirt</h5>
                                  </div>
                              </td>
                              <td>$205.00</td>
                              <td>
                                  <div class="cs_quantity">
                                      <button class="cs_quantity_btn cs_increment"><i class="fa-solid fa-angle-up"></i></button>
                                      <span class="cs_quantity_input">1</span>
                                      <button class="cs_quantity_btn cs_decrement"><i class="fa-solid fa-angle-down"></i></button>
                                  </div>
                              </td>
                              <td>$205.00</td>
                              <td class="text-center">
                                  <img src="../../../assets/imgs/delete.png" class="dltimg">
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="cs_cart_table_media">
                                      <img src="../../../assets/imgs/image 8.png" alt="Thumb" class="cartimg">
                                      <h5 class="pname">Satin silk sleeping were</h5>
                                  </div>
                              </td>
                              <td>$550.00</td>
                              <td>
                                  <div class="cs_quantity">
                                      <button class="cs_quantity_btn cs_increment"><i class="fa-solid fa-angle-up"></i></button>
                                      <span class="cs_quantity_input">1</span>
                                      <button class="cs_quantity_btn cs_decrement"><i class="fa-solid fa-angle-down"></i></button>
                                  </div>
                              </td>
                              <td>$550.00</td>
                              <td class="text-center">
                                  <img src="../../../assets/imgs/delete.png" class="dltimg">
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="col-md-4">
              <div class="cs_shop-side-spacing">
                  <div class="cs_shop-card shadow p-3 mb-5 bg-body rounded">
                      <div class="cs_height_30 cs_height_lg_30"></div>
                      <h2 class="cs_fs_21 cs_medium">Summary</h2>
                      <hr>
                      <table class="cs_medium">
                          <tbody>
                              <tr>
                                  <td><h2 class="textt">Total</h2></td>
                                  <td><h6 class="textt">$605.00</h6></td> 
                              </tr>
                          </tbody>
                      </table>
                      <div class="cs_height_30 cs_height_lg_30"></div>
                      <button class="btn btncheck" routerLink="/producthome">Proceed</button>
                  </div>
                  <div class="cs_height_30 cs_height_lg_30"></div>
              </div>
          </div>     
      </div>
  </div>
  <div class="row">
      <app-viewcategoryproduct></app-viewcategoryproduct>
  </div>