<div class="container">
    <h2 class="text-center mb-5">Overview</h2>
<div class="row text-center shadow border border-dark ovr">
  <div class="col-4 border-end border-warning">
    <p style="color: #31508C;">Products</p>
    <p>759</p>
</div>
  <div class="col-4 border-end border-warning">
    <p style="color: #31508C;">Orders</p>
    <p>2589</p>
</div>
  <div class="col-4">
    <p style="color: #31508C;">Sellers</p>
    <p>795</p>
</div>
</div>
<div class="detailed row mt-5 shadow border border-dark">
  <div class="row">
    <div class="col-12 mt-4">
      <h5 class="text-center"><i class="bi bi-copy"></i>&nbsp;Item Summary</h5>
    </div>
  </div>
  <div class="row ms-0">
    <div class="col-4 border-top border-end border-warning">
      <p style="color: #31508C;">New Order</p>
      <p>25</p>
      <a href="">See details</a>
    </div>
    <div class="col-4 border-top border-warning">
      <p style="color: #31508C;">Processed</p>
      <p>36</p>
      <a href="">See details</a>
    </div>
    <div class="col-4 border-top border-start border-warning">
      <p style="color: #31508C;">Return</p>
      <p>5</p>
      <a href="">See details</a>
    </div>
  </div>
</div>
</div>
