<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <h5>Login to your Account</h5>
            </div>
            <div class="row">
                <div class="col">
        <input
          type="email"
          class="form-control shadow border border-dark"
          id="exampleInputEmail1"
          aria-describedby="emailHelp",
          placeholder="Enter email or phone"
        />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="inputPassword5" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control shadow border border-dark"
          id="exampleInputEmail1"
          aria-describedby="emailHelp",
          placeholder="Password"
        />
                </div>
            </div>
            <div class="row">
                <button>Login to Continue</button>
            </div>
            <div class="row">
                <p>Don't have an account? <a href="">Sign up</a></p>
            </div>

        </div>
        <div class="col-6 mt-2">
            <img src="../../../assets/images/image 5.png" alt="" srcset="" style="height: 600px;">
        </div>
    </div>
</div>