 <!-- <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-5 text-center bg-white shadow-lg p-3 mt-5 bg-body rounded" style="width: 25rem;">
            <img src="../../../assets/imgs/dress-shirt-img.png">
         </div>
         <div class="col-md-7">
            <div class="row">
                <h3>product name:</h3><h4>Mensware</h4>
                <p>Mens shirt</p>:<p>Allensoley</p>
                <p>$907</p> <p>$1305</p> <p>save30%</p>
            </div>
        </div>
      </div>

    </div>
</div>  -->

<div class="twoColumns container pt-xl-23 pb-xl-20 pt-lg-20 pb-lg-20 py-md-16 py-10 mt-5">
    <div class="row mb-6">
        <div class="col-6 col-lg-6 order-lg-1 bg-white shadow-lg p-3 mb-5 bg-body rounded">
           
            <div class="productSliderImage mb-lg-0 mb-4  ">
                <div>
                    <img src="../../../assets/imgs/dress-shirt-img.png"  alt="image description" class="img-fluid ">
                </div>
              
              
            </div>
        </div>
        <div class="col-12 col-lg-6 order-lg-3">
          
            <div class="productTextHolder overflow-hidden m-5">
                <h2 class="fwEbold mb-2">Menswear</h2>
               
                <strong class="price d-block mb-5 text-green">65.00 $</strong>
                <p class="mb-5">Aenean id ullamcorper libero. Vestibulum imperdiet nibh. Lorem ullamcorper volutpat. Vestibulum lacinia risus.</p>
                <ul class="list-unstyled productInfoDetail mb-5 overflow-hidden">
                    <li class="mb-2">Product Code: <span>FA008</span></li>
                    <li class="mb-2">Quantity: <span>68 Items</span></li>
                    <li class="mb-2">Shipping tax: <span>Free</span></li>
                </ul>
                
               
                <div class="holder overflow-hidden d-flex flex-wrap mb-6">
                    <input type="number" placeholder="1" class="count">
                    <button class="btn" routerLink="/cart">Add To Cart <i class="fas fa-arrow-right ml-2"></i></button>
                    <button class="btn buybtn" routerLink="/buynow">Buy Now <i class="fas fa-arrow-right ml-2"></i></button>
                    <img src="../../../assets/imgs/wishlist.png" class="wishimg">
                </div>
                
                
            </div>
        </div>
       
    </div>
    <div class="row">
       <app-viewcategoryproduct></app-viewcategoryproduct>
    </div>

  
  