 <div class="container-fluid">
    <div class="container">
      <div class="row">
         <div class="col-md-5">
            <img src="../../../assets/imgs/dress-shirt-img.png">
         </div>
         <div class="col-md-7">
            <div class="row">
                <h3>product name:</h3><h4>Mensware</h4>
                <p>Mens shirt</p>:<p>Allensoley</p>
                <p>$907</p> <p>$1305</p> <p>save30%</p>
            </div>
           

          
         </div>
      </div>

    </div>
</div> 
